#nav-brand {
  color: #6d55f1;
  font-size: 50px;
  font-weight: bold;
}
#btn-outline {
  border-color: #6d55f1;
  color: #6d55f1;
}
#btn-practice {
  background-color: #6d55f1;
  border-color: #6d55f1;
  white-space: nowrap;
  text-align: center;
  border-radius: 5px;
}
.top-btn{
  margin-bottom: 30px;
}
.div-abc{
  margin-left: 20p;
}


/*bottom buttons*/
.abc-1{
  padding-top: 30px;
}
.abc-2{
  margin-left: 100px;
  text-decoration-line: underline;
  font-size: 18px;
}


/* navbar span */
.span {
  color: rgb(35, 235, 35);
  font-size: 50px;
  font-weight: bold;
}
/* heading below navbar */
.heading-starting {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  padding-top: 10px;
  font-family: poppins;
  color: #6d55f1;
  text-align: left;
  font-display: bold;
}

.text-block {
  padding-bottom: 10px;
  color: #5A54E0;
  text-align: left;
  font-family: poppins;
  font-size: 16px;
}
.text-1{
  padding-top: 20px;
  padding-bottom: 20px;
}
.text-2{
  padding-bottom: 20px;
}
#interview-with-mentor,
#book-interview,
#home {
  font-family: Poppins;
}
#img-job-interview {
  width: 393.83px;
  height: 295.37px;
  left: 662.32px;
  top: 98.39px;
}

/* testimonals */

.testimonals {
  padding-top: 40px;
  height: 300px;
  /*background: rgba(6, 204, 171, 0.37);*/
  border-radius: 10px;
}
.image-abc{
  padding-top: 50 px;
  padding-left: 100px;
  height: 300px;
  width: 80%;
}
#testimonal-box {
  height: 150px;
  background: #ffffff;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.12), 4px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  font-size: 1rem;
}
#testimonal-name {
  color: #6d55f1;
  text-align: left;
}
#testimonal-company {
  color: rgb(35, 235, 35);
  text-align: left;
}
#testimonal-text {
  text-align: left;
  margin: 0;
}
#testimonal-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


/* Column container */
.row {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: white;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* interview with mentors */
/* dropdown menu */
#dropdown {
  padding: 10px;
  text-align: right;
}
/* mentor card */
#card {
  border-radius: 10px;
  font-size: 14px;
  box-shadow: -4px -4px 8px rgba(112, 101, 101, 0.12),
    4px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.item-container {
  width: 30%;
  flex: auto;
  flex-direction: row;
  padding: 5px;
}
/*  right side image */
#img-mentor {
  width: 450px;
  height: 450px;
}

/* profile image */
#mentor-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#detail-of-person {
  padding: 10px;
  position: absolute;
  width: 500px;
  height: 350px;
  left: 576px;
  top: 144.8px;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.12), 4px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

#set-time {
  margin-top: 20px;
  margin-left: 40px;
  width: 210px;
  height: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #7b61ff;
  border-radius: 8px;
}
/* calender */
.react-calendar {
  width: 300px;
  height: 325px;
  background: rgba(6, 204, 171, 0.13);
  border: 1px solid #7b61ff;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 50%;
}
.react-calendar__tile--now {
  background: #d1c9f7;
  border-radius: 50%;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #d1c9f7;
  border-radius: 50%;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #7b61ff;
  color: white;
  border-radius: 50%;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #7b61ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

